/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background-color: #17181f;
  color: #ddd;
  font-size: medium;
}
main{
  max-width: 350 px;
  margin: 0 auto;
  text-align: center;
}
h1{
  text-align: center;
  color: #fff;
}
form{
  text-align: center;
  font-size: large;
  margin-top: 50px;
}
form input{
  text-align: center;
  /* width: 100%; */
  background-color: transparent;
  display: flexbox;
  color: #ddd;
  border: 2px solid #ddd;
  border-radius: 5px;
  color-scheme: dark;
  padding: 2px 5px;
  gap: 5px;
}
::placeholder{
  color: #ddd;

}
/* form input [type="date"]::-webkit-calendar-picker-indicator{
  color: #ddd;
  
} */
 .buttons{
  width: 30%;
  padding: 5px;
  margin-top: 5px;
  background-color: #D3DAD9 ;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  border: 0;
}
.calculate{
  margin-top: 15px;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  justify-content: center;
}

div.transactions{
  font-size: 15px;
  margin-top: 20px;
}

.show{
  /* border-color: #ddd; */
  color: #000;
  width: 20%;
  height: 25px;
  background-color: transparent;
  /* background-color: #D3DAD9 ; */
  margin-top: 10px;
  display: flexbox;
  color: #ddd;
  border: 2px solid #ddd;
  border-radius: 5px;
  color-scheme: dark;
  padding: 2px 5px;
  
}
div.single_transaction
{
  justify-content: center;
  text-align: left;
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #30313d;
}

div.single_transaction:first-child{
  border-top: 3px double #ddd;
}
div.left{
  padding-right: 10%;
}

div.description{
  font-size: 10px;
}
div.name{
  font-size: 17px;
}
div.datetime{
  font-size: 10px;
}
div.price_green{
  color: green;
  font-weight: bold;
}
div.price_red{
  color: red;
  font-weight: bold;
}